<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Commodity</title>
</head>
<body>
    <div class="box">
        <form action="/posttx" method="POST">

            <input id="barcode" name="barcode"  placeholder="Delivery Code" required> <br>
            <button id="submit" name="submit" type="submit">submit</button>

        </form>
    </div>
</body>
</html>